{
  "presets": [
    "es2015",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators",
    "transform-runtime",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-object-assign"
  ],
  "env": {
  }
}
