<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, height=device-height,initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>App Store</title>

  <!--暂时写在这里,以后移到framework的less中-->
	{{#each csses}}
		<link href="/{{.}}.css" rel="stylesheet">
	{{/each}}

</head>
<body style="margin: 0;">

  <div id='react-view' class="wrapper"></div>

  {{#each scripts}}
    <script src="/{{.}}.js"></script>
  {{/each}}

</body>

</html>
